{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% load static %}

{% block content %}
    
    <header>
        <div class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo"></div>
        <!-- <div class="heding"><h1>AI Image Generator</h1></div>       -->
    </header>
    <!-- <h3>👉 Convert Your Text Into An AI-Generated Images And Also Download Them 😊</h3> -->
    <div class="prompt_box">
        <form action="#" id="prompt_bar">
            <input type="text" id="prompt_text" placeholder="{% trans 'Provide a prompt for your image.' %}" autocomplete="off" required>
            <select class="img_quantity">
                <!-- Options for selecting the number of images to generate -->
                <!-- Default selection: 3 images -->
                <option value="1">1 {% trans 'Image' %}</option>
                <option value="2">2 {% trans 'Images' %}</option>
                <option value="3">3 {% trans 'Images' %}</option>
                <option value="4" selected>4 {% trans 'Images' %}</option>
                <!-- <option value="5">5 Images</option>
                <option value="6">6 Images</option>
                <option value="7">7 Images</option>
                <option value="8">8 Images</option>
                <option value="9">9 Images</option>
                <option value="10">10 Images</option> -->
            </select>
            <select class="img_size">
                <!-- Options for selecting the image size -->
                <!-- Default selection: 512x512 pixels -->
                <option value="256x256">{% trans 'Size' %}: 256x256</option>
                <option value="512x512" selected>{% trans 'Size' %}: 512x512</option>
                <option value="1024x1024">{% trans 'Size' %}: 1024x1024</option>
            </select>
            {% if request.user.is_authenticated %}
            <button>{% trans 'Generate' %}</button>
            {% endif %}
        </form>
    </div>
    <div class="hero_section">
        <div id="image_result">
            <!-- Generated images will be displayed here -->
            <div class="img_box">
            <img src="{% static 'images/image1.jpeg' %}">
            </div>
            <div class="img_box">
            <img src="{% static 'images/image2.jpeg' %}">
            </div>
            <div class="img_box">
            <img src="{% static 'images/image3.jpeg' %}">
            </div>
            <div class="img_box">
            <img src="{% static 'images/image4.jpeg' %}">
            </div>
            <div class="img_box">
            <img src="{% static 'images/image5.jpeg' %}">
            </div>
            <div class="img_box">
            <img src="{% static 'images/image6.jpeg' %}">
            </div>
        </div>
    </div>

{% endblock %}
