{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center bg-grey mb-3">
    <div class="border shadow p-4 mt-4 bg-white">
        <h4>{% trans 'Sign up' %}</h4>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success">{% trans 'Create' %}</button>

        </form>
    </div>
</div>

{% endblock %}
